/*
         * #fbf5f3
         * #93e1d8
         * #e28413
         * #db3a34
         * #000022 
         */

        .color-white-0 {
            color: #FBF5F3
        }

        .color-white-1 {
            color: #9C8881
        }

        .color-white-2 {
            color: #C0B3AE
        }

        .color-white-3 {
            color: #FFFAF8
        }

        .color-blue-0 {
            color: #93E1D9
        }

        .color-blue-1 {
            color: #F3FEFD
        }

        .color-blue-2 {
            color: #C4F4EF
        }

        .color-blue-3 {
            color: #66C6BC
        }

        .color-blue-4 {
            color: #3EA197
        }

        .color-orange-0 {
            color: #E28413
        }

        .color-orange-1 {
            color: #FFBC6D
        }

        .color-orange-2 {
            color: #F1A142
        }

        .color-orange-3 {
            color: #B36407
        }

        .color-orange-4 {
            color: #8C4C00
        }

        .color-red-0 {
            color: #DB3834
        }

        .color-red-1 {
            color: #FF8B88
        }

        .color-red-2 {
            color: #F15E5A
        }

        .color-red-3 {
            color: #B71B17
        }

        .color-red-4 {
            color: #900603
        }

        .color-black-0 {
            color: #000022
        }

        #colors {
            color: #fbf5f3;
            /* background */
            color: #93e1d8;
            /* */
            color: #e28413;
            /* */
            color: #db3a34;
            /* */
            color: #000022;
            /* */

            color: #F4EFED;
            /* background white darker */
        }

        /* accounts for padding and border when calculating width */
        html * {
            box-sizing: border-box;
        }

        body {
            /* background-image: url("https://d1q8kgt00fn2v8.cloudfront.net/files/uploads/2018/03/kids_playing_with-_blocks-1600x1067.jpg"); */
            /* background-repeat: no-repeat; */
            /* background-size: cover; */
            margin: 0px;
            padding: 0px;
            background-color: #dae0e6;
            color: #000022;
        }

        .header2 {
            width: 100%;
            background-color: #ffffff;
            display: grid;
            grid-template-rows: 55px;
            grid-template-columns: min-content minmax(auto, 400px) min-content;
            justify-content: space-between;
            grid-template-areas:
                "left middle right";
            position: fixed;
            z-index: 1;
        }

        #left {
            max-width: 250px;
            width: min-content;
            text-decoration: none;
        }

        .header2 p {
            font-family: 'Gloria Hallelujah', cursive;
            font-size: 25pt;
            color: #ff4500;
            /* color: #991c1c; */
            margin-left: 1em;
            margin-right: 1em;
            /*added right margin for when things get close */
            line-height: 55px;
            margin-top: -3px;
            font-weight: bolder;
            vertical-align: middle;
        }

        #content {
            display: grid;
            transform: translate(0px, 55px);
            padding-top: 40px;
            justify-content: space-evenly;
            justify-items: center;
            grid-template-columns: 5% 12% 49% 22% 11%;
            grid-template-areas:
                "emptyLeft sideBar listings ads emptyRight";
        }

        /* Causes filters to go above content on small screens */
        /* @media (max-width: 770px) {
            #content {
                grid-template-areas: 
                "sideBar"
                "listings";
                grid-template-columns: 90%;
            }
            #filtersContainer {
                width: 100%;
            }
        } */

        /* causes ads to disapear on small screens */
        @media only screen and (max-width: 1000px) {
            #content {
                grid-template-columns: 0% 25% 60%;
            }

            #ads {
                display: none;
            }

            #emptyLeft {
                display: none;
            }

            #emptyRight {
                display: none;
            }
        }

        /* causes profile Image to disapear on small screens */
        @media only screen and (max-width: 1000px) {
            #right {
                margin-left: -30px;
            }
        }

        /**#searchContainer {
            grid-area: searchBar;
            width: 100%;
            text-align: center;
            background-color: crimson;
        }*/

        .searchBar {
            grid-area: middle;
            width: 100%;
            /* Width will fill the grid area if less than max width */
            max-width: 400px;
            /* The 400 needs to be max-width or we get horizontal scrolling */
            /* not neccessary at all because grid-template-columns of parent limits this to 400px now, anyways */
            height: 13px;
            background-color: #f7f7f7;
            border: 1px solid #cfcfcf;
            border-radius: 3px;
            margin: auto auto auto auto;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 100;
            color: black;
            font-size: 10pt;
            padding: 18px;
            text-align: left;
        }

        .searchBar:hover {
            border: 1px solid #0079d3;
        }

        #right {
            max-width: 550px;
            width: min-content;
            grid-area: right;
            height: 100%;
            justify-self: center;
        }
   
        #buttons {
            position: relative;
            width: 200px;
        }

        .favouritesButton {
            display: inline-block;
            width: 70px;
            height: 30px;
            border-radius: 3px;
            background-color: rgb(0, 121, 211);
            border: 1px solid rgb(0, 121, 211);
            color: #FBF5F3;
            text-align: center;
            line-height: 30px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: bold;
            font-size: 10pt;
            padding: 0px 77px 30px 42px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 12px;
            position: absolute;
        }

        .favouritesButton:hover {
            background-color: rgb(51, 148, 220);
            cursor: pointer;

        }

        .profileButton {
            margin-left: 145px;
            margin-top: 13px;
            position: absolute;
            }
        
        img#profileSetting {
            
            width: 32.5px;
            height: 28.8px;
            padding: 0;
            
        }

        .profileButton img:hover {
            cursor: pointer;
            opacity: 0.7;
        }

        .messageButton {
            position: absolute;
            margin-left: -40px;
            margin-top: 14px;
        }
        .messageButton img {
            width: 28px;
        }

        .messageButton img:hover {
            opacity: 0.8;
            cursor: pointer;

        }

        #filtersContainer {
            grid-area: sideBar;
            /* position: fixed; */
            transition: 0.25s;
        }

        #filters {
            /* width: 20vw; */
            border-radius: 3px;
            font-size: 10pt;
            background-color: #ffffff;
            padding: 10px;
            font-family: arial;
            border: 1px solid #dad9d9;
            width: 85%;
            margin: 0 auto;
        }

        #filters span {
            text-align: center;
            font-size: 8pt;
        }

        #filters h3 {
            margin: 0;
        }

        .filter {
            margin: 1.5rem 0rem;
        }

        .sliderTitle {
            margin-bottom: 3rem;
        }

        .asRange {
            width: 80%;
            margin: 0 auto;
        }

        .asRange .asRange-selected {
            background-color: #0079d3;
            /* blue 0 */
        }

        .asRange .asRange-pointer .asRange-tip {
            color: #FBF5F3;
            background-color: #0079d3;
            border: 1px solid #0079d3;
        }

        .asRange .asRange-pointer .asRange-tip:before {
            background-color: #0079d3;
            /* orange 0 #DB3834*/
        }

        .asRange .asRange-pointer {
            background-color: #ffffff;
        }

        .asRange .asRange-pointer:before {
            background: #0079d3;
            /* blue 4 */
        }

        .asRange .asRange-pointer:after {
            background: #F3FEFD;
            /* blue 1 */
        }

        #listingsContainer {
            grid-area: listings;
            /* overflow-y: auto; */
            /* height: calc(100vh - 95px); */
            width: 100%;

            /* display: grid; */
            /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
            /* grid-template-rows: repeat(auto-fill, 1fr); */
            /* grid-gap: 25px; */
        }

        .toyListing {
            border: 1px solid #dad9d9;
            border-radius: 3px;
            font-size: 8pt;
            /* width: calc(100% - 30px); 100% minus any padding */
            width: 100%;
            /* because of the box-sizing property applied to *, we can ignore padding */
            margin: auto;
            margin-bottom: 1rem;
            background-color: #ffffff;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            /* If padding is changed width must be changed */
            /* we no longer have to worry about padding because of the box-sizing */
            display: grid;
            grid-template-areas:
                "img ttl ttl"
                "img prc age"
                "img des des";
            grid-template-columns: 320px 1fr 1fr;
            grid-template-rows: 30px 30px 1fr;
            /* grid-template-areas:
                "img img"
                "ttl ttl"
                "prc age"; */
            height: 250px;
            align-content: flex-end;
        }

        .toyListing:hover {
            border: 1px solid #acacac;
            /* padding: calc(5px - 0px) calc(30px - 0px) calc(5px - 0px) calc(10px - 0px); */
            cursor: pointer;
        }

        .toyImage {
            grid-area: img;
        }

        .toyListing img {
            grid-area: img;
            object-fit: contain;
            max-width: 100%;
            height: 100%;
            /* max-height: 100%; */
            padding-left: 30px;
            align-self: flex-start;
            /* background-color: #0079d3; */
        }

        .description {
            grid-area: des;
            padding-left: 15px;
            padding-top: 30px;
            padding-right: 10px;
        }

        .listingTitle {
            grid-area: ttl;
            background-color: #f1f1f1;
            width: 100%;
            font-weight: 500;
            font-size: 10pt;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            line-height: 30px;
            vertical-align: middle;
            padding-left: 15px;
        }

        .listingAgeRange {
            grid-area: age;
            padding-left: 15px;
            line-height: 30px;
            vertical-align: middle;
        }

        .listingPrice {
            grid-area: prc;
            padding-left: 15px;
            line-height: 30px;
            vertical-align: middle;
        }

        .listingPrice span {
            grid-area: prc;
            font-size: 3pt;
        }

        .listingAgeRange span {
            grid-area: age;
            font-size: 3pt;
            text-decoration: none;
        }

        #ads {
            grid-area: ads;
            justify-content: center;
        }

        .wasteInfo {
            border: 1px solid #c4c4c4;
            border-radius: 5px;
            /** background-image: url(https://media.istockphoto.com/illustrations/abstract-yellow-watercolor-texture-background-illustration-id532126526?k=6&m=532126526&s=612x612&w=0&h=n_AGA8IEeqlMTBNoylH0y7R-1oejDXFSlRG0-sXPaeA=); */
            background-color: yellow;
            margin: 0 auto;
            height: 390px;
            width: 90%;
        }

        .wasteInfo p {
            /* text-align: center; */
            font-size: 15pt;
            font-weight: bold;
            text-align: left;
            padding: 10px;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        .wasteInfo img {
            width: 100%;
            height: auto;
        }

        .learnMore {
            /* width: calc(90% - 20px); we no longer have to worry about subtracting padding due to box sizing */
            width: 90%;
            /* height: 125px; */
            padding: 10px;
            text-align: center;
            font-weight: bold;
            background-color: #991c1c;
            border: 5px solid #991c1c;
            border-radius: 5px;
            margin: 20px auto;
            font-size: 15pt;
            color: white;
            font-family: Arial;
        }

        .learnMoreButton {
            width: 120px;
            /* height: 30px; */
            border: 3px solid white;
            border-radius: 50px;
            margin: 0 auto;
            font-size: 13pt;
            vertical-align: middle;
            line-height: 30px;
            margin-top: 20px;
        }

        .learnMoreButton:hover {
            border: 4px solid white;
            font-size: 14pt;
        }

        .ecoCityAd1 {
            width: 90%;
            height: auto;
            margin: 0 auto;
            background-color: white;
            border: 1px solid white;
            border-radius: 5px;
        }

        .ecoCityAd1 img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
        .dropShadow {
            filter: drop-shadow(0px 0px 5px #EBDDD0);
            /* carpet color */
        }

        #toyShareLogo {
            width: 55px;
            height: 45px;
            margin-top: 3px;
            margin-left: 14px;

        }
        #toyShareText {
            position: absolute;
            top:0;
            left: 0;
            margin-top: 13px;
            margin-left: 70px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 16pt;
            font-weight: 800;
        }
        

        
        .fav-btn {
            width: 100px;
            height: 100px;
            position: absolute;
            right: -30px;
            transform: translate(0, -37.5px);
            background:   url(http://www.capgunmedia.co/favorites-button.png) no-repeat;
            background-position: 0 0;
            cursor: pointer;
            animation: favorites 1s steps(28);
        }
        .fav-btn:hover {
            background-position: -2800px 0;
            transition: background 0s steps(1);
        }
        @keyframes favorites {
            0% {
                background-position: 0 0;
            }
            100% {
                background-position: -2800px 0;
            }
        }