
        /* accounts for padding and border when calculating width */
        html * {
            box-sizing: border-box;
        }

        body {
            margin: 0px;
            padding: 0px;
            background-color: #dae0e6;
            color: black;
        }

        #header {
            width: 100%;
            background-color: #ffffff;
            display: grid;
            grid-template-rows: 55px 40px; 
            grid-template-columns: 33% 33% 33%;
            justify-content: space-between;
            grid-template-areas:
                "left middle right"
                "bar bar bar";
            position: fixed;
            z-index: 1;
        }

        #left {
            width: 100%;
            padding-left: 5%;
        }

        #toyShareLogo {
            width: 55px;
            height: 45px;
            margin-top: 4px;
        }

        #toyShareLogoText {
            top: 0;
            left: 0;
            position: absolute;
            margin-top: 10px;
            margin-left: 80px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 18pt;
            font-weight: 800;
            color: black;
        }

        .searchBar {
            grid-area: middle;
            width: 100%;
            /* Width will fill the grid area if less than max width */
            max-width: 400px;
            /* The 400 needs to be max-width or we get horizontal scrolling */
            /* not neccessary at all because grid-template-columns of parent limits this to 400px now, anyways */
            height: 13px;
            background-color: #f1f2f5;
            border: 1px solid #cfcfcf;
            border-radius: 3px;
            margin: auto auto auto auto;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 100;
            color: black;
            font-size: 10pt;
            padding: 18px;
            text-align: left;
        }

        .searchBar:hover {
            border: 1px solid #0079d3;
        }
        
        #right {
            width: 100%;
            grid-area: right;
            height: 100%;
            display: grid;
            grid-template-areas:
                "empty messenger star facebook loggout paddingRight";
            grid-template-rows: 100%;
            grid-template-columns: 35% 15% 15% 15% 15% 5%;
        }

        .favouritesButton {
            grid-area: star;
            width: 70px;
            height: 30px;
            border-radius: 3px;
            background-color: rgb(0, 121, 211);
            border: 1px solid rgb(0, 121, 211);
            color: #FBF5F3;
            text-align: center;
            line-height: 30px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: bold;
            font-size: 10pt;
            padding: 0px 10px 30px 10px;
            margin: auto auto auto auto;
        }

        .favouritesButton:hover {
            background-color: rgb(51, 148, 220);
            cursor: pointer;
        }

        .profileButton {
            grid-area: facebook;
            margin: 9px 0 0 18px;
        }
        
        img#profileSetting {
            margin-top: 4px;
            width: 32.5px;
            height: 28.8px;
        }

        .profileButton img:hover {
            cursor: pointer;
            opacity: 0.7;
        }

        .messageButton {
            grid-area: messenger;
            margin: auto auto auto auto;
        }
        .messageButton img {
            margin-top: 4px;
            width: 28px;
        }

        .messageButton img:hover {
            opacity: 0.8;
            cursor: pointer;
        }

        #logOutButton {
            grid-area: loggout;
            width: 70px;
            height: 30px;
            border-radius: 3px;
            background-color: rgb(255, 69, 0);
            border: 1px solid  rgb(255, 69, 0);
            color: #FBF5F3;
            text-align: center;
            line-height: 30px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: bold;
            font-size: 10pt;
            padding: 0px 10px 30px 10px;
            margin: auto auto auto auto;
        }

        #logOutButton:hover {
            opacity: 0.8;
            cursor: pointer;
        }

        .barDiv {
            grid-area: bar;
            border-top: 0px solid #eeeeee;
        }

        #banner {
            padding-top: 15px;
            width: 100%;
            height: 550px;
        }

        #banner img {
            width: 100%;
            height: 100%;
        }

        #content {
            display: grid;
            transform: translate(0px, 55px);
            padding-top: 40px;
            justify-content: space-evenly;
            justify-items: center;
            grid-template-columns: 5% 12% 49% 22% 11%;
            grid-template-areas:
                "emptyLeft sideBar listings ads emptyRight";
        }

        #filtersContainer {
            grid-area: bar;
        }

        h3 {
            display: inline-block;
        }

        #filters {
            font-size: 8pt;
            background-color: #ffffff;
            font-family: arial;
            border: 1px solid #dad9d9;
            width: 100%;
            display: inline-block;
        }

        .filter {
            display: inline-block;
            padding: 0px 50px 0px 50px;
        }

        .sliderTitle {
            margin-bottom: 0;
            display: inline-block;
        }

        .asRange {
            width: 200px;
            display: inline-block;
            margin-left: 10px;
        }

        .asRange .asRange-selected {
            background-color: #0079d3;
        }

        .asRange .asRange-pointer .asRange-tip {
            color: #FBF5F3;
            background-color: #0079d3;
            border: 1px solid #0079d3;
        }

        .asRange .asRange-pointer .asRange-tip:before {
            background-color: #0079d3;
        }

        .asRange .asRange-pointer {
            background-color: #ffffff;
        }

        .asRange .asRange-pointer:before {
            background: #0079d3;
        }

        .asRange .asRange-pointer:after {
            background: #F3FEFD;
        }

        #listingsContainer {
            grid-area: listings;
            width: 100%;
        }

        .toyListing {
            border: 1px solid #dad9d9;
            border-radius: 3px;
            font-size: 8pt;
            width: 100%;
            /* because of the box-sizing property applied to *, we can ignore padding */
            margin: auto;
            margin-bottom: 1rem;
            background-color: #ffffff;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            /* If padding is changed width must be changed */
            /* we no longer have to worry about padding because of the box-sizing */
            display: grid;
            grid-template-areas:
                "img ttl ttl"
                "img prc age"
                "img des des";
            grid-template-columns: 320px 1fr 1fr;
            grid-template-rows: 30px 30px 1fr;
            height: 250px;
            align-content: flex-end;
        }

        .toyListing:hover {
            border: 1px solid #acacac;
            cursor: pointer;
        }

        .toyImage {
            grid-area: img;
        }

        .toyListing img {
            grid-area: img;
            object-fit: contain;
            max-width: 100%;
            height: 100%;
            padding-left: 30px;
            align-self: flex-start;
        }

        .description {
            grid-area: des;
            padding-left: 15px;
            padding-top: 30px;
            padding-right: 10px;
        }

        .listingTitle {
            grid-area: ttl;
            background-color: #f1f1f1;
            width: 100%;
            font-weight: 500;
            font-size: 10pt;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            line-height: 30px;
            vertical-align: middle;
            padding-left: 15px;
        }

        .listingAgeRange {
            grid-area: age;
            padding-left: 15px;
            line-height: 30px;
            vertical-align: middle;
        }

        .listingPrice {
            grid-area: prc;
            padding-left: 15px;
            line-height: 30px;
            vertical-align: middle;
        }

        .listingPrice span {
            grid-area: prc;
            font-size: 3pt;
        }

        .listingAgeRange span {
            grid-area: age;
            font-size: 3pt;
            text-decoration: none;
        }

        #ads {
            grid-area: ads;
            justify-content: center;
        }

        .wasteInfo {
            border: 1px solid #c4c4c4;
            border-radius: 5px;
            background-color: yellow;
            margin: 0 auto;
            height: 390px;
            width: 90%;
        }

        .wasteInfo p {
            font-size: 15pt;
            font-weight: bold;
            text-align: left;
            padding: 10px;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        .wasteInfo img {
            width: 100%;
            height: auto;
        }

        .learnMore {
            width: 90%;
            padding: 10px;
            text-align: center;
            font-weight: bold;
            background-color: #991c1c;
            border: 5px solid #991c1c;
            border-radius: 5px;
            margin: 20px auto;
            font-size: 15pt;
            color: white;
            font-family: Arial;
        }

        .learnMoreButton {
            width: 120px;
            border: 3px solid white;
            border-radius: 50px;
            margin: 0 auto;
            font-size: 13pt;
            vertical-align: middle;
            line-height: 30px;
            margin-top: 20px;
        }

        .learnMoreButton:hover {
            border: 4px solid white;
            font-size: 14pt;
        }

        .ecoCityAd1 {
            width: 90%;
            height: auto;
            margin: 0 auto;
            background-color: white;
            border: 1px solid white;
            border-radius: 5px;
        }

        .ecoCityAd1 img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }

        .fav-btn {
            width: 100px;
            height: 100px;
            position: absolute;
            right: -30px;
            transform: translate(0, -37.5px);
            background:   url(http://www.capgunmedia.co/favorites-button.png) no-repeat;
            background-position: 0 0;
            cursor: pointer;
            animation: favorites 1s steps(28);
        }

        .fav-btn:hover {
            background-position: -2800px 0;
            transition: background 0s steps(1);
        }

        @keyframes favorites {
            0% {
                background-position: 0 0;
            }
            100% {
                background-position: -2800px 0;
            }
        }

        /* causes ads to disapear on small screens */
        @media only screen and (max-width: 1000px) {
            #content {
                grid-template-columns: 0% 25% 60%;
            }

            #ads {
                display: none;
            }

            #emptyLeft {
                display: none;
            }

            #emptyRight {
                display: none;
            }
        }

        /* causes profile Image to disapear on small screens */
        @media only screen and (max-width: 1000px) {
            #right {
                margin-left: -30px;
            }
        }

